$img-path: '../../src/images/';

$font-helvetica: 'Helvetica Neue', Roboto, Arial;
$font-helvetica-light: 'Helvetica Neue Light', Roboto, Arial;
$font-helvetica-medium: 'Helvetica Neue Medium', Roboto, Arial;
$font-helvetica-bold: 'Helvetica Neue Bold', Roboto, Arial;

