.words-filter {
  h3 {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Helvetica Neue Light', Arial, sans-serif;
  }
  span {
    color: #cccccc;
    display: inline-block;
    font-weight: normal;
    font-family: 'Helvetica Neue Light', Arial, sans-serif;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      color: #555;
    }
  }
  &__content {
    border-top: solid 1px #dfe5eb;
    padding-top: 10px;
    text-align: center;
    height: 160px;
  }
  .rank-0 { font-size: 10px; }
  .rank-1 { font-size: 12px; }
  .rank-2 { font-size: 14px; }
  .rank-3 { font-size: 16px; }
  .rank-4 { font-size: 18px; }
  .rank-5 { font-size: 20px; }
}
